@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #335a21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22561a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes heartBeat {
  from {
    background-position: 0px;
  }

  to {
    background-position: -4864px;
  }

  /* Total width of sprite sheet */
}

.heart-animation {
  width: 256px;
  /* Width of one frame */
  height: 256px;
  background-image: url('/heart-sprite_sheet.png');
  animation: heartBeat 1s steps(19) ;
  /* steps = number of frames */
}